{
  "CONFIG_PATH": "cfg//main.json",
  "CONFIG_RELOAD_TIME": 1,
  "DB_HOST": "localhost",
  "DB_NAME": "idle_rpg_base",
  "DB_PASSWORD": "db",
  "DB_PORT": 5432,
  "DB_USER": "idle_rpg_user",
  "DEBUG_MAX_TURNS": -1,
  "LOG_LEVEL": 50,
  "TURN_TIME": -1,
  "DEBUG_HALT_ON_GAME_ERROR": true,
  "DEBUG_HALT_ON_PERSIST_ERROR": false,
  "DEBUG_HALT_ON_QUEUE_ERROR": false,
  "SERVER_NAME": "TS_GRG",
  "QUEUE_ENABLED": true,
  "QUEUE_HOST": "localhost",
  "QUEUE_PORT": 5672,
  "QUEUE_USER": "idle_rpg",
  "QUEUE_PASSWORD": "",
  "QUEUE_BATCH_SIZE": 100000,
  "CHAR_BATCH_SIZE": 100,
  "CHAR_HISTORY_LEN": 10
}